@use './colors' as *;
@use './fonts' as *;

@mixin h1 {
  text-align: center;
}

h1 {
  @include h1;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  &:hover {
    color: grey;
  }
  &:focus {
    color: orange;
  }
  &:active {
    color: red;
  }
}
